In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('final_data.csv')

In [6]:
print('구를 입력하세요: ')
x1 = str(input())

구를 입력하세요:
강남구

In [ ]:
print('한적한동네, 치안, 교육, 의료, 노인복지시설, 시장과상점가, 교통 점수를 입력하세요\n(상점가는 50개 이상의 도매,소매점포가 밀집해있는 장소입니다.)\n(이 기준이 중요하면 5점, 중요하지 않으면 1점 순으로 1-5점 사이의 점수를 입력해주세요.) : ')
want = list(map(int,input().split()))

In [10]:
target = data[data['자치구']==x1]
target

    자치구     동  한적한동네  치안  교육  의료  노인복지시설  시장과상점가  교통
0   강남구  개포1동      1   3   1   1       1       1   1
1   강남구  개포2동      1   3   5   2       1       5   1
2   강남구  개포4동      1   3   3   3       1       1   1
3   강남구  논현1동      2   3   1   5       5       5   1
4   강남구  논현2동      2   3   3   5       1       4   3
5   강남구  대치1동      5   3   4   5       1       1   3
6   강남구  대치2동      2   3   3   5       1       5   5
7   강남구  대치4동      5   3   3   5       5       1   1
8   강남구  도곡1동      3   3   4   5       1       1   1
9   강남구  도곡2동      5   3   4   4       1       1   4
10  강남구  삼성1동      1   3   3   5       5       1   3
11  강남구  삼성2동      3   3   1   5       1       1   1
12  강남구   세곡동      1   3   3   3       1       1   1
13  강남구   수서동      1   3   5   3       1       1   5
14  강남구   신사동      1   3   3   5       5       4   5
15  강남구  압구정동      1   3   4   1       5       4   4
16  강남구  역삼1동      2   3   1   5       5       5   3
17  강남구  역삼2동      5   3   3   5       5       4   3
18  강남구  일원1동      2   3   1   2       1       1   3
19  강남구  일원2동      2   3   4   2       1       1   1
20  강남구  일원본동      1   3   4   2       1       1   3
21  강남구   청담동      2   3   4   5       1       5   5

In [11]:
target2 = list(np.array(target.iloc[:, 2:]))

In [12]:
target2

[array([1, 3, 1, 1, 1, 1, 1], dtype=int64),
 array([1, 3, 5, 2, 1, 5, 1], dtype=int64),
 array([1, 3, 3, 3, 1, 1, 1], dtype=int64),
 array([2, 3, 1, 5, 5, 5, 1], dtype=int64),
 array([2, 3, 3, 5, 1, 4, 3], dtype=int64),
 array([5, 3, 4, 5, 1, 1, 3], dtype=int64),
 array([2, 3, 3, 5, 1, 5, 5], dtype=int64),
 array([5, 3, 3, 5, 5, 1, 1], dtype=int64),
 array([3, 3, 4, 5, 1, 1, 1], dtype=int64),
 array([5, 3, 4, 4, 1, 1, 4], dtype=int64),
 array([1, 3, 3, 5, 5, 1, 3], dtype=int64),
 array([3, 3, 1, 5, 1, 1, 1], dtype=int64),
 array([1, 3, 3, 3, 1, 1, 1], dtype=int64),
 array([1, 3, 5, 3, 1, 1, 5], dtype=int64),
 array([1, 3, 3, 5, 5, 4, 5], dtype=int64),
 array([1, 3, 4, 1, 5, 4, 4], dtype=int64),
 array([2, 3, 1, 5, 5, 5, 3], dtype=int64),
 array([5, 3, 3, 5, 5, 4, 3], dtype=int64),
 array([2, 3, 1, 2, 1, 1, 3], dtype=int64),
 array([2, 3, 4, 2, 1, 1, 1], dtype=int64),
 array([1, 3, 4, 2, 1, 1, 3], dtype=int64),
 array([2, 3, 4, 5, 1, 5, 5], dtype=int64)]

In [13]:
arr = []

In [14]:
for j in target2:
    difference = 0
    for i in range(len(want)):
        difference += abs(np.array(want[i])-j[i])*want[i]
    arr.append(difference)

In [15]:
arr

[38,
 39,
 26,
 47,
 25,
 29,
 17,
 40,
 37,
 21,
 26,
 40,
 26,
 12,
 18,
 26,
 37,
 32,
 26,
 33,
 22,
 20]

In [16]:
target['difference'] = arr

C:\Users\taey\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
target

    자치구     동  한적한동네  치안  교육  의료  노인복지시설  시장과상점가  교통  difference
0   강남구  개포1동      1   3   1   1       1       1   1          38
1   강남구  개포2동      1   3   5   2       1       5   1          39
2   강남구  개포4동      1   3   3   3       1       1   1          26
3   강남구  논현1동      2   3   1   5       5       5   1          47
4   강남구  논현2동      2   3   3   5       1       4   3          25
5   강남구  대치1동      5   3   4   5       1       1   3          29
6   강남구  대치2동      2   3   3   5       1       5   5          17
7   강남구  대치4동      5   3   3   5       5       1   1          40
8   강남구  도곡1동      3   3   4   5       1       1   1          37
9   강남구  도곡2동      5   3   4   4       1       1   4          21
10  강남구  삼성1동      1   3   3   5       5       1   3          26
11  강남구  삼성2동      3   3   1   5       1       1   1          40
12  강남구   세곡동      1   3   3   3       1       1   1          26
13  강남구   수서동      1   3   5   3       1       1   5          12
14  강남구   신사동      1   3   3   5       5       4   5          18
15  강남구  압구정동      1   3   4   1       5       4   4          26
16  강남구  역삼1동      2   3   1   5       5       5   3          37
17  강남구  역삼2동      5   3   3   5       5       4   3          32
18  강남구  일원1동      2   3   1   2       1       1   3          26
19  강남구  일원2동      2   3   4   2       1       1   1          33
20  강남구  일원본동      1   3   4   2       1       1   3          22
21  강남구   청담동      2   3   4   5       1       5   5          20

In [18]:
final = target.sort_values(by='difference', ascending=True)[:5]

In [19]:
final

    자치구     동  한적한동네  치안  교육  의료  노인복지시설  시장과상점가  교통  difference
13  강남구   수서동      1   3   5   3       1       1   5          12
6   강남구  대치2동      2   3   3   5       1       5   5          17
14  강남구   신사동      1   3   3   5       5       4   5          18
21  강남구   청담동      2   3   4   5       1       5   5          20
9   강남구  도곡2동      5   3   4   4       1       1   4          21

In [24]:
real_final = final.iloc[:, 1:8]

In [25]:
real_final

       동  한적한동네  치안  교육  의료  노인복지시설  시장과상점가
13   수서동      1   3   5   3       1       1
6   대치2동      2   3   3   5       1       5
14   신사동      1   3   3   5       5       4
21   청담동      2   3   4   5       1       5
9   도곡2동      5   3   4   4       1       1