In [147]:
import pandas as pd
import numpy as np

In [148]:
data = pd.read_csv('final_data.csv')

In [149]:
print('구를 입력하세요: ')
x1 = str(input())

구를 입력하세요:
서대문구

In [150]:
print('한적한동네, 치안, 교육, 의료, 노인복지시설, 시장과상점가, 교통 점수를 입력하세요\n(상점가는 50개 이상의 도매,소매점포가 밀집해있는 장소입니다.)\n(이 기준이 중요하면 5점, 중요하지 않으면 1점 순으로 1-5점 사이의 점수를 입력해주세요.) : ')
want = list(map(int,input().split()))

한적한동네, 치안, 교육, 의료, 노인복지시설, 시장과상점가, 교통 점수를 입력하세요
(상점가는 50개 이상의 도매,소매점포가 밀집해있는 장소입니다.)
(이 기준이 중요하면 5점, 중요하지 않으면 1점 순으로 1-5점 사이의 점수를 입력해주세요.) :
1 5 1 3 1 1 5

In [151]:
target = data[data['자치구']==x1]
target

      자치구      동  한적한동네  치안  교육시설  의료시설  노인복지시설  시장과상점가  교통
212  서대문구  남가좌1동      5   2     1     3       1       4   4
213  서대문구  남가좌2동      5   2     4     3       1       4   1
214  서대문구  북가좌1동      4   2     4     2       1       1   1
215  서대문구  북가좌2동      4   2     1     3       5       1   3
216  서대문구   북아현동      4   2     4     2       1       4   3
217  서대문구    신촌동      1   2     3     5       1       5   1
218  서대문구    연희동      2   2     3     4       5       4   1
219  서대문구    천연동      2   2     1     3       5       4   1
220  서대문구    충현동      2   2     1     2       1       1   3
221  서대문구   홍은1동      2   2     2     1       1       5   1
222  서대문구   홍은2동      2   2     4     2       1       1   1
223  서대문구   홍제1동      3   2     3     4       1       1   5
224  서대문구   홍제2동      2   2     2     2       5       1   3
225  서대문구   홍제3동      3   2     4     4       1       5   3

In [152]:
target2 = list(np.array(target.iloc[:, 2:]))

In [153]:
target2

[array([5, 2, 1, 3, 1, 4, 4], dtype=int64),
 array([5, 2, 4, 3, 1, 4, 1], dtype=int64),
 array([4, 2, 4, 2, 1, 1, 1], dtype=int64),
 array([4, 2, 1, 3, 5, 1, 3], dtype=int64),
 array([4, 2, 4, 2, 1, 4, 3], dtype=int64),
 array([1, 2, 3, 5, 1, 5, 1], dtype=int64),
 array([2, 2, 3, 4, 5, 4, 1], dtype=int64),
 array([2, 2, 1, 3, 5, 4, 1], dtype=int64),
 array([2, 2, 1, 2, 1, 1, 3], dtype=int64),
 array([2, 2, 2, 1, 1, 5, 1], dtype=int64),
 array([2, 2, 4, 2, 1, 1, 1], dtype=int64),
 array([3, 2, 3, 4, 1, 1, 5], dtype=int64),
 array([2, 2, 2, 2, 5, 1, 3], dtype=int64),
 array([3, 2, 4, 4, 1, 5, 3], dtype=int64)]

In [154]:
arr = []

In [155]:
for j in target2:
    difference = 0
    for i in range(len(want)):
        difference += abs(np.array(want[i])-j[i])*want[i]
    arr.append(difference)

In [156]:
arr

[27, 45, 44, 32, 37, 47, 48, 43, 29, 47, 42, 22, 34, 37]

In [157]:
target['차이'] = arr

C:\Users\taey\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [158]:
target

      자치구      동  한적한동네  치안  교육시설  의료시설  노인복지시설  시장과상점가  교통  차이
212  서대문구  남가좌1동      5   2     1     3       1       4   4  27
213  서대문구  남가좌2동      5   2     4     3       1       4   1  45
214  서대문구  북가좌1동      4   2     4     2       1       1   1  44
215  서대문구  북가좌2동      4   2     1     3       5       1   3  32
216  서대문구   북아현동      4   2     4     2       1       4   3  37
217  서대문구    신촌동      1   2     3     5       1       5   1  47
218  서대문구    연희동      2   2     3     4       5       4   1  48
219  서대문구    천연동      2   2     1     3       5       4   1  43
220  서대문구    충현동      2   2     1     2       1       1   3  29
221  서대문구   홍은1동      2   2     2     1       1       5   1  47
222  서대문구   홍은2동      2   2     4     2       1       1   1  42
223  서대문구   홍제1동      3   2     3     4       1       1   5  22
224  서대문구   홍제2동      2   2     2     2       5       1   3  34
225  서대문구   홍제3동      3   2     4     4       1       5   3  37

In [159]:
final = target.sort_values(by='차이', ascending=True)[:5]

In [160]:
final

      자치구      동  한적한동네  치안  교육시설  의료시설  노인복지시설  시장과상점가  교통  차이
223  서대문구   홍제1동      3   2     3     4       1       1   5  22
212  서대문구  남가좌1동      5   2     1     3       1       4   4  27
220  서대문구    충현동      2   2     1     2       1       1   3  29
215  서대문구  북가좌2동      4   2     1     3       5       1   3  32
224  서대문구   홍제2동      2   2     2     2       5       1   3  34

In [161]:
real_final = final.drop(['차이', '자치구'], axis = 1)
real_final['순위'] = [1,2,3,4,5]
real_final = real_final.set_index("순위")

In [162]:
print(want)
real_final

[1, 5, 1, 3, 1, 1, 5]

        동  한적한동네  치안  교육시설  의료시설  노인복지시설  시장과상점가  교통
순위
1    홍제1동      3   2     3     4       1       1   5
2   남가좌1동      5   2     1     3       1       4   4
3     충현동      2   2     1     2       1       1   3
4   북가좌2동      4   2     1     3       5       1   3
5    홍제2동      2   2     2     2       5       1   3

In [163]:
edu = pd.read_csv('./data_before/교육시설수.csv')
traffic = pd.read_csv('./data_before/교통.csv')
elderly = pd.read_csv('./data_before/노인복지시설수.csv')
danger = pd.read_csv('./data_before/도시위험도_범죄피해지수.csv')
crime = pd.read_csv('./data_before/범죄발생횟수.csv')
market = pd.read_csv('./data_before/시장_상점가.csv')
hospital = pd.read_csv('./data_before/의료시설수.csv')
pop = pd.read_csv('./data_before/인구밀도.csv')

In [164]:
print('동을 입력하세요: ')
x2 = str(input())

동을 입력하세요:
홍제1동

In [165]:
edu_list = edu[edu['동']==x2]
edu_list.drop(['합계'], axis = 1)

      자치구     동  유치원  초등학교  중학교  고등학교
405  서대문구  홍제1동    3     1    0     1

In [166]:
traffic_list = traffic[traffic['동']==x2]

In [167]:
traffic_list

      자치구     동  지하철 주변 버스정류장 수                          자치구 내 지하철역
193  서대문구  홍제1동               4  충정로, 서대문, 홍제, 독립문, 신촌, 무악재, 이대, 아현

In [168]:
elderly_list = elderly[elderly['동']==x2]

In [169]:
elderly_list

      자치구     동  노인시설합계(노인복지관+경로당+노인교실)
405  서대문구  홍제1동                       0

In [170]:
danger_list = danger[danger['자치구']==x1]

In [171]:
danger_list

     자치구 도시위험도(설문조사 결과) 범죄피해(설문조사 결과)
12  서대문구             높음            높음

In [172]:
crime_list = crime[crime['자치구']==x1]

In [173]:
crime_list

     자치구 범죄발생횟수(살인+강도+강간강제추행+절도+폭력 발생횟수)  순위(총25개구)  위험정도(1~5)
12  서대문구                           2,802         23          4

In [174]:
market_list = market[market['동']==x2]

In [175]:
market_list

      자치구     동  시장+상점가
405  서대문구  홍제1동       0

In [176]:
hospital_list = hospital[hospital['동']==x2]
hospital_list.drop(['합계'], axis = 1)

      자치구     동  보건소  종합병원  병원+의원  요양병원  치과병원+의원  한방병원+의원
405  서대문구  홍제1동    0     0     24     0       10       11

In [177]:
pop_list = pop[pop['동']==x2]
pop_list

      자치구     동 인구밀도
193  서대문구  홍제1동   보통