In [342]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [343]:
data = pd.read_csv('./data.csv')

In [344]:
print('구를 입력하세요: ')
x1 = str(input())

구를 입력하세요:
은평구

In [345]:
test = pd.read_csv('./test.csv', encoding='CP949')

In [346]:
print('인구밀도, 치안, 교육, 의료, 노인복지시설, 시장상점, 교통 점수를 입력하세요 : ')
want = pd.DataFrame(input().split()).transpose()

인구밀도, 치안, 교육, 의료, 노인복지시설, 시장상점, 교통 점수를 입력하세요 :
3 5 2 4 1 4 5

In [347]:
want

   0  1  2  3  4  5  6
0  3  5  2  4  1  4  5

In [348]:
target = data[data['자치구']==x1]
target

     자치구     동  인구밀도  치안  교육  의료  노인복지시설  시장상점  교통
360  은평구  갈현1동     3   3   1   4       5     5   1
361  은평구  갈현2동     1   3   5   3       1     4   3
362  은평구   구산동     3   3   5   3       1     1   3
363  은평구   녹번동     3   3   3   2       1     1   5
364  은평구   대조동     1   3   3   5       5     5   5
365  은평구  불광1동     4   3   3   5       5     1   5
366  은평구  불광2동     3   3   5   3       1     4   3
367  은평구   수색동     5   3   3   1       1     1   5
368  은평구  신사1동     2   3   3   3       1     1   3
369  은평구  신사2동     3   3   5   1       5     1   3
370  은평구   역촌동     2   3   3   4       5     1   5
371  은평구  응암1동     3   3   4   5       1     1   1
372  은평구  응암2동     1   3   3   1       1     4   1
373  은평구  응암3동     2   3   5   5       5     5   3
374  은평구   증산동     4   3   3   2       1     5   3
375  은평구   진관동     5   3   5   4       5     1   5

In [349]:
target2 = target.iloc[:, 2:]

In [350]:
target2

     인구밀도  치안  교육  의료  노인복지시설  시장상점  교통
360     3   3   1   4       5     5   1
361     1   3   5   3       1     4   3
362     3   3   5   3       1     1   3
363     3   3   3   2       1     1   5
364     1   3   3   5       5     5   5
365     4   3   3   5       5     1   5
366     3   3   5   3       1     4   3
367     5   3   3   1       1     1   5
368     2   3   3   3       1     1   3
369     3   3   5   1       5     1   3
370     2   3   3   4       5     1   5
371     3   3   4   5       1     1   1
372     1   3   3   1       1     4   1
373     2   3   5   5       5     5   3
374     4   3   3   2       1     5   3
375     5   3   5   4       5     1   5

In [351]:
result = cosine_similarity(want, target2).transpose()
print(result)

[[0.79240582]
 [0.87831007]
 [0.84866842]
 [0.91129565]
 [0.8794654 ]
 [0.8466176 ]
 [0.90138782]
 [0.84787777]
 [0.92916266]
 [0.71193858]
 [0.83302897]
 [0.80363756]
 [0.82783272]
 [0.8408642 ]
 [0.91980058]
 [0.81831709]]

In [352]:
target['유사도'] = result
target

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     자치구     동  인구밀도  치안  교육  의료  노인복지시설  시장상점  교통       유사도
360  은평구  갈현1동     3   3   1   4       5     5   1  0.792406
361  은평구  갈현2동     1   3   5   3       1     4   3  0.878310
362  은평구   구산동     3   3   5   3       1     1   3  0.848668
363  은평구   녹번동     3   3   3   2       1     1   5  0.911296
364  은평구   대조동     1   3   3   5       5     5   5  0.879465
365  은평구  불광1동     4   3   3   5       5     1   5  0.846618
366  은평구  불광2동     3   3   5   3       1     4   3  0.901388
367  은평구   수색동     5   3   3   1       1     1   5  0.847878
368  은평구  신사1동     2   3   3   3       1     1   3  0.929163
369  은평구  신사2동     3   3   5   1       5     1   3  0.711939
370  은평구   역촌동     2   3   3   4       5     1   5  0.833029
371  은평구  응암1동     3   3   4   5       1     1   1  0.803638
372  은평구  응암2동     1   3   3   1       1     4   1  0.827833
373  은평구  응암3동     2   3   5   5       5     5   3  0.840864
374  은평구   증산동     4   3   3   2       1     5   3  0.919801
375  은평구   진관동     5   3   5   4       5     1   5  0.818317

In [353]:
final = pd.DataFrame(data=target['동'], columns=['동'])

In [354]:
final['유사도'] = result

In [355]:
final

        동       유사도
360  갈현1동  0.792406
361  갈현2동  0.878310
362   구산동  0.848668
363   녹번동  0.911296
364   대조동  0.879465
365  불광1동  0.846618
366  불광2동  0.901388
367   수색동  0.847878
368  신사1동  0.929163
369  신사2동  0.711939
370   역촌동  0.833029
371  응암1동  0.803638
372  응암2동  0.827833
373  응암3동  0.840864
374   증산동  0.919801
375   진관동  0.818317

In [356]:
rank5 = final.sort_values(by='유사도', ascending=False)[:5]
rank5

        동       유사도
368  신사1동  0.929163
374   증산동  0.919801
363   녹번동  0.911296
366  불광2동  0.901388
364   대조동  0.879465

In [357]:
dongs = list(rank5['동'])
dongs

['신사1동', '증산동', '녹번동', '불광2동', '대조동']

In [358]:
final2 = target[target['동'].isin(dongs)].sort_values(by='유사도', ascending=False)
final2

     자치구     동  인구밀도  치안  교육  의료  노인복지시설  시장상점  교통       유사도
368  은평구  신사1동     2   3   3   3       1     1   3  0.929163
374  은평구   증산동     4   3   3   2       1     5   3  0.919801
363  은평구   녹번동     3   3   3   2       1     1   5  0.911296
366  은평구  불광2동     3   3   5   3       1     4   3  0.901388
364  은평구   대조동     1   3   3   5       5     5   5  0.879465

In [359]:
want

   0  1  2  3  4  5  6
0  3  5  2  4  1  4  5